[Unit]
Description=Enclave host supervisor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=supervisor
EnvironmentFile=/etc/environment
ExecStart=/home/ec2-user/app/supervisor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
